#main-content {
	width: 400px;
	height: 200px;
	background-color: lightblue;
}

#sub-content1 {
	width: 100%;
	display: flex;
	text-align: center;

}

#title-postcard {
	display: inline-block;
	width: 65%;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

#contenedor-logo {
	display: inline-block;
	width: 25%;
	text-align: right;
	position: relative;
	top: 10px;
	right: 2px;
}

#logo4geeks {
	width: 50px;
	height: 50px;
	padding: 2px 2px 2px 2px;
	position: relative;
	right: 0;
	top: 0;
}

#sub-content2 {
	width: 100%;
	height: 100px;
	background-color: lightgreen;
	margin-top: 5px;
	text-align: center;
}

#message-postcard {
	width: 48%;
	display: inline-block;
	padding: 2px;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}

#datos-postcard {
	width: 48%;
	display: inline-block;
	padding: 2px;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
	float: right;
}