#main-content {
	width: 400px;
	height: 260px;
	border: #333 5px solid;
	padding: 10px;
}

#sub-content1 {
	width: 100%;
	display: flex;
	text-align: center;
}

#title-postcard {
	display: inline-block;
	width: 65%;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

#contenedor-logo {
	display: inline-block;
	width: 25%;
	text-align: right;
	position: relative;
	top: 10px;
	right: 2px;
}

#logo4geeks {
	width: 50px;
	height: 50px;
	padding: 2px 2px 2px 2px;
	position: relative;
	right: 0;
	top: 0;
}

#sub-content2 {
	width: 100%;
	height: 150px;
	display: flex;
	margin-top: 5px;
	text-align: center;
}

#message-postcard {
	width: 48%;
	height: 150px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	display: inline-block;
	padding: 2px;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}

#datos-postcard {
	position: relative;
	top: 10px;
	right: 5px;
	width: 48%;
	height: 150px;
	display: inline-block;
	padding: 2px;
	font-size: 12px;
	font-weight: normal;
}

input[type="text"] {
	font-family: Creepster, sans-serif;
	width: 90%;
	font-size: 12px;
	border: none;
	padding: 4px;
	border-bottom: 2px solid #333;
}

#sub-content3 {
	width: 100%;
	height: 40px;
	margin-top: 5px;
	text-align: center;
}
